/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/test1014.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/commandlinetools/Laravel_2020_10_20_10_34.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/misc.xml
