.cart_main {
    margin: 0 auto;
    width: 120rem;
    min-height: 30rem;
}
.cart_price {
    margin-left: 110rem;
    height: 20rem;
    width: 20rem;
}

.cart_main table {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 120rem;
}
.cart_main table th, .cart_main table td {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.cart_main table th {
    border-top: medium none;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.cart_main table td.product-thumbnail {
    width: 130px;
}
.product-thumbnail img {
    width: 100%;
}
.cart_main table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
.cart_main table td.product-name {
    width: 270px;
}
.cart_main table td.product-name a {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    color: #6f6f6f;
}
.cart_main table td.product-price {
    width: 130px;
}
.cart_main table .product-price .amount {
    font-size: 15px;
    font-weight: 700;
    margin:0;
}
.amounts {
    font-size: 15px;
    font-weight: 700;
}
.cart_main table td.product-quantity {
    width: 180px;
}

.cart_main table td input {
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}
.cart_main table td.product-subtotal {
    font-size: 14px;
    font-weight: bold;
    width: 120px;
}
.cart_main table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
.cart_main table td.product-remove {
    width: 150px;
}
.cart_main table td.product-remove i {
    color: #919191;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*   */
.cart_totals h2 {
    border-bottom: 2px solid #333;
    display: inline-block;
    font-size: 3rem;
    margin: 0 0 3.5rem;
    text-transform: uppercase;
}
.cart_totals table {
    border: medium none;
    float: right;
    margin: 0;
    text-align: right;
}
.cart_totals table th {
    border: medium none;
    font-size: 14px;
    font-weight: bold;
    padding: 0 2rem 1.2rem 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: top;
}
.cart_totals table td {
    border: medium none;
    padding: 0 0 1.2rem;
    vertical-align: top;
}
.cart_totals table td .amount {
    color: #ffae00;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0.5rem;
    text-align: right;
    text-transform: uppercase;
}
.cart_totals table tr.order-total th, .cart_totals table tr.order-total .amount {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}
.cart_totals table td {
    border: medium none;
    padding: 0 0 1.2rem;
    vertical-align: top;
}
.wc-proceed-to-checkout {
    clear: both;
    display: block;
}
.wc-proceed-to-checkout a {
    background: #ffae00 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 5rem;
    line-height: 5rem;
    margin-top: 2rem;
    padding: 0 3rem;
    text-transform: none;
}


