#cart_haveProduct {
    margin: 0 auto;
    width: 120rem;
    min-height: 20rem;
}
#cart_none {
    margin: 0 auto;
    width: 120rem;
    min-height: 30rem;
}
#cart_none p{
    margin: auto;
    font-size:4rem;
}

.cart_price {
    margin-left: 80rem;
    height: 20rem;
    width: 20rem;
}
#cart_haveProduct table {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100rem;
}
#cart_haveProduct table th, #cart_haveProduct table td {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
#cart_haveProduct table th {
    border-top: medium none;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
#cart_haveProduct table td.product-thumbnail {
    width: 130px;
}
.product-thumbnail img {
    width: 100%;
}
#cart_haveProduct table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
#cart_haveProduct table td.product-name {
    width: 270px;
}
#cart_haveProduct table td.product-name p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    color: #6f6f6f;
}
#cart_haveProduct table td.product-price {
    width: 130px;
}
#cart_haveProduct table .product-price .amount {
    font-size: 15px;
    font-weight: 700;
    margin:0;
}
.amounts {
    font-size: 15px;
    font-weight: 700;
}
#cart_haveProduct table td.product-quantity {
    width: 180px;
}

#cart_haveProduct table td input {
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}
#cart_haveProduct table td.product-subtotal {
    font-size: 14px;
    font-weight: bold;
    width: 120px;
}
#cart_haveProduct table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
#cart_haveProduct table td.product-remove {
    width: 150px;
}
#cart_haveProduct table td.product-remove i {
    color: #919191;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*   */
.cart_totals h2 {
    border-bottom: 2px solid #333;
    display: inline-block;
    font-size: 3rem;
    margin: 0 0 3.5rem;
    text-transform: uppercase;
}
.cart_totals table {
    border: medium none;
    float: right;
    margin: 0;
    text-align: right;
}
.cart_totals table th {
    border: medium none;
    font-size: 14px;
    font-weight: bold;
    padding: 0 2rem 1.2rem 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: top;
}
.cart_totals table td {
    border: medium none;
    padding: 0 0 1.2rem;
    vertical-align: top;
}
.cart_totals table td .amount {
    color: black;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0.5rem;
    text-align: right;
    text-transform: uppercase;
}
.cart_totals table tr.order-total th, .cart_totals table tr.order-total .amount {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}
.cart_totals table td {
    border: medium none;
    padding: 0 0 1.2rem;
    vertical-align: top;
}
.wc-proceed-to-checkout {
    clear: both;
    display: block;
}
.wc-proceed-to-checkout a {
    background: #ffae00 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 5rem;
    line-height: 5rem;
    margin-top: 2rem;
    padding: 0 3rem;
    text-transform: none;
}


/* new cart */
.cart_left {
    float: left;
    width: 300px;
    padding-left: 15px;
    color: #7f7f7f;
}

/* .cart_div a.:hover{
	background: #0071BC  repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	border-color: #0071BC;
	color:#fff;
} */

/* .step_cart:hover{
    background: #0071BC url(../image/cart_step_icon.png) no-repeat 10px 10px ;

	border-color: #0071BC;
	color:#fff;
} */

.cart_div a.checkout_step,
.cart_div span.checkout_step{
	background: #F0F0F0  repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #F0F0F0));
	background: -webkit-linear-gradient(top,#FFFFFF ,#F0F0F0 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#F0F0F0 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#F0F0F0 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#F0F0F0 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#F0F0F0 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #EBEBEB;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	line-height: 46px;
	color: #7F7F7F;
	font-weight: bold;
	margin-bottom: 7px;
	display:block;
	text-decoration:none;
}
.step_cart{
	background:url(../image/cart_step_icon.png) no-repeat 10px 10px;
	width:229px;
	min-height: 52px;
	display:block;
	padding-left: 70px;
	padding-top: 5px;
	padding-right: 5px;
}
.cart_right {
    float: right;
    width: 870px;
    padding-right: 15px;
}
.cart_right h1 {
    line-height: 26px;
    color: #323232;
    font-size: 24px;
    font-weight: bold;
}

.checkout_holder {
    margin-top:3rem;
}

#fridge_totalPrice {
    display: inline-block;
}

/** */
.cartOn {
    background: #0071BC  repeat-x left top !important; 
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC)) !important;
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%) !important;
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%) !important;
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%) !important;
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%) !important;
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%) !important;
	border-color: #0071BC !important;
	color:#fff !important;
}
