#cart_haveProduct {
    margin: 0 auto;
    width: 120rem;
    min-height: 20rem;
}
#cart_confirmOrder {
    margin: 0 auto;
    width: 120rem;
    min-height: 20rem;
}
#cart_none {
    margin: 0 auto;
    width: 120rem;
    min-height: 30rem;
}
#cart_none p{
    margin: auto;
    font-size:4rem;
}

.cart_price {
    margin-left: 80rem;
    height: 15rem;
    width: 20rem;
}
#cart_haveProduct table {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100rem;
}
#cart_haveProduct table th, #cart_haveProduct table td {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
#cart_haveProduct table th {
    border-top: medium none;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
#cart_haveProduct table td.product-thumbnail {
    width: 130px;
}
.product-thumbnail img {
    width: 100%;
}
#cart_haveProduct table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
#cart_haveProduct table td.product-name {
    width: 270px;
}
#cart_haveProduct table td.product-name p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    color: #6f6f6f;
}
#cart_haveProduct table td.product-price {
    width: 130px;
}
#cart_haveProduct table .product-price .amount {
    font-size: 15px;
    font-weight: 700;
    margin:0;
}
.amounts {
    font-size: 15px;
    font-weight: 700;
    display:inline-block;
}
#cart_haveProduct table td.product-quantity {
    width: 180px;
}

#cart_haveProduct table td input {
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}
#cart_haveProduct table td.product-subtotal {
    font-size: 14px;
    font-weight: bold;
    width: 120px;
}
#cart_haveProduct table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
#cart_haveProduct table td.product-remove {
    width: 150px;
}
#cart_haveProduct table td.product-remove i {
    color: #919191;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*   */
.cart_totals h2 {
    border-bottom: 2px solid #333;
    display: inline-block;
    font-size: 3rem;
    margin: 0 0 3.5rem;
    text-transform: uppercase;
}
.cart_totals table {
    border: medium none;
    float: right;
    margin: 0;
    text-align: right;
}
.cart_totals table th {
    border: medium none;
    font-size: 14px;
    font-weight: bold;
    padding: 0 2rem 1.2rem 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: top;
}
.cart_totals table td {
    border: medium none;
    padding: 0 0 1.2rem;
    vertical-align: top;
}
.cart_totals table td .amount {
    color: black;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0.5rem;
    text-align: right;
    text-transform: uppercase;
}
.cart_totals table tr.order-total th, .cart_totals table tr.order-total .amount {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}
.cart_totals table td {
    border: medium none;
    padding: 0 0 1.2rem;
    vertical-align: top;
}
.wc-proceed-to-checkout {
    clear: both;
    display: block;
}
.wc-proceed-to-checkout a {
    background: #ffae00 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 5rem;
    line-height: 5rem;
    margin-top: 2rem;
    padding: 0 3rem;
    text-transform: none;
}


/* new cart */
.cart_left {
    float: left;
    width: 300px;
    padding-left: 15px;
    color: #7f7f7f;
}

/* .cart_div a.:hover{
	background: #0071BC  repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	border-color: #0071BC;
	color:#fff;
} */

/* .step_cart:hover{
    background: #0071BC url(../image/cart_step_icon.png) no-repeat 10px 10px ;

	border-color: #0071BC;
	color:#fff;
} */

.cart_div a.checkout_step,
.cart_div span.checkout_step{
	background: #F0F0F0  repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #F0F0F0));
	background: -webkit-linear-gradient(top,#FFFFFF ,#F0F0F0 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#F0F0F0 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#F0F0F0 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#F0F0F0 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#F0F0F0 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #EBEBEB;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	line-height: 46px;
	color: #7F7F7F;
	font-weight: bold;
	margin-bottom: 1.5rem;
	display:block;
	text-decoration:none;
    width: 30rem;
    height: 7rem;
}
.step_cart{
	background:url(../image/cart_step_icon.png) no-repeat 10px 10px;
	width:23rem;
	min-height: 52px;
	display:block;
	padding-left: 70px;
	padding-top: 1.2rem;
	padding-right: 5px;
}
.cart_right {
    float: right;
    width: 870px;
    padding-right: 15px;
}
.cart_right h1 {
    line-height: 26px;
    color: #323232;
    font-size: 24px;
    font-weight: bold;
}

.checkout_holder {
    margin-top:3rem;
}

#fridge_totalPrice {
    display: inline-block;
}

/** */
.cartOn {
    background: #0071BC  repeat-x left top !important;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC)) !important;
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%) !important;
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%) !important;
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%) !important;
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%) !important;
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%) !important;
	border-color: #0071BC !important;
	color:#fff !important;
}


/**
    button
*/
.cart_next {
    width: 12rem;
    height: 4rem;
    background: #29ABE2;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border: none !important;
    font-weight: bold !important;
}

.cart_next:hover {
    background: black;
    color: white;
}
.cart_back {
    width: 12rem;
    height: 4rem;
    background: #29ABE2;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border: none !important;
    font-weight: bold !important;
    margin-right: 1rem;
}
.cart_back:hover {
    background: black;
    color: white;
}
.cart_back,.cart_next
{
    display: inline-block;
    float: right;
    line-height: 4rem;
    font-size: 1.8rem;
}
#cart_myCart,#cart_delivery,#cart_confirm,#cart_upload,#cart_payment {
    width:100rem
}
.address_1{
    display: inline-block;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    background-color: #6888c1;
    color: #fff;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    float:left;
    margin-right: 90px;
}
.address_2_btn{
    display: inline-block;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    background-color: #6888c1;
    color: #fff;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

.active{
    background-color: #2a57a7;
}
.address_2_in{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 20px;
}
.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    padding: 0 16px;
  }
.rowcart {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
.cart_div input[type=text] {
    
    margin-bottom: 2px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 98%;
  }
  
.cart_div label {
    margin-bottom: 10px;
    display: block;
  }
.cart_div .checkmsg{
    width: 100%;
    height: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: tomato;
}



/* animate */
.fly-item,
.fly-item > img {
    position: absolute;
    width: 17x; height: 17px;
    transition: transform .5s!important;
}
.fly-item {
    display: block;
    margin: -25px 0 0 -25px;
    transition-timing-function: linear;
    opacity: 1;
    padding-left: 55px;
    padding-top: 7px;
}
.fly-item > img {
    transition-timing-function: cubic-bezier(.55,0,.85,.36)!important;
    /* outline: 1px solid rgb(221,46,59); */
}
/* confirm */
#cart_confirmOrder table {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100rem;
}
#cart_confirmOrder table th, #cart_confirmOrder table td {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
#cart_confirmOrder table th {
    border-top: medium none;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
#cart_confirmOrder table td.product-thumbnail {
    width: 130px;
}
.product-thumbnail img {
    width: 100%;
}
#cart_confirmOrder table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
#cart_confirmOrder table td.product-name {
    width: 270px;
}
#cart_confirmOrder table td.product-name p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    color: #6f6f6f;
}
#cart_confirmOrder table td.product-price {
    width: 130px;
}
#cart_confirmOrder table .product-price .amount {
    font-size: 15px;
    font-weight: 700;
    margin:0;
}
#cart_confirmOrder table td.product-quantity {
    width: 180px;
}

#cart_confirmOrder table td input {
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}
#cart_confirmOrder table td.product-subtotal {
    font-size: 14px;
    font-weight: bold;
    width: 120px;
}
#cart_confirmOrder table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}