body.gallary_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  
.gallary_div_credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
  }
  
.gallary_div_options {
    display: flex;
    flex-direction: row;
    align-items: stretch;



    justify-content:center;

    height:100vh;

    overflow: hidden;
    min-width: 1200px;
    max-width: 1800px;
    width: calc(100% - 100px);
    min-height: 400px;
    max-height: 800px;
  }
  
  @media screen and (max-width: 718px) {
    .gallary_div_options {
      min-width: 520px;
    }
    .gallary_div_option:nth-child(5) {
      display: none;
    }
  }
  
  @media screen and (max-width: 638px) {
    .gallary_div_options {
      min-width: 440px;
    }
    .gallary_div_option:nth-child(4) {
      display: none;
    }
  }
  
  @media screen and (max-width: 558px) {
    .gallary_div_options {
      min-width: 360px;
    }
    .gallary_div_option:nth-child(3) {
      display: none;
    }
  }
  
  @media screen and (max-width: 478px) {
    .gallary_div_options {
      min-width: 280px;
    }
    .gallary_div_option:nth-child(2) {
      display: none;
    }
  }
  
  .gallary_div_option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  
  .gallary_div_option:nth-child(1) {
    --defaultBackground:#ED5565;
  }
  
  .gallary_div_option:nth-child(2) {
    --defaultBackground:#FC6E51;
  }
  
  .gallary_div_option:nth-child(3) {
    --defaultBackground:#FFCE54;
  }
  
  .gallary_div_option:nth-child(4) {
    --defaultBackground:#2ECC71;
  }
  
  .gallary_div_option:nth-child(5) {
    --defaultBackground:#5D9CEC;
  }
  
.gallary_div_option:nth-child(6) {
    --defaultBackground:#AC92EC;
  }
  
  .gallary_div_option.active {
    flex-grow: 10000;
    transform: scale(1);
    width: 1800px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
    /*&:active {
                 transform:scale(0.9);
              }*/
  }
  .gallary_div_article{
    position: absolute; 
    top: 0; 
    left: 50px

  }
  .gallary_div_shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .gallary_div_label {
    bottom: 20px;
    left: 20px;
    color: white;
  }
  
  .gallary_div_info > div {
    left: 0px;
    opacity: 1;
  }
  
  .gallary_div_option:not(.gallary_div_active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .gallary_div_option:not(.active) .gallary_div_shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .gallary_div_option:not(.active) .gallary_div_label {
    bottom: 10px;
    left: 10px;
    color: white;
  }
  
  .gallary_div_option:not(.gallary_div_active) .gallary_div_label .gallary_div_info > div {
    left: 20px;
    opacity: 0;
    color: white;
  }
  
  .gallary_div_shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  
  .gallary_div_label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    color: white;
  }
  
  .gallary_div_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
  }
  
  .gallary_div_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
  }
  
  .gallary_div_info > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
  }
  
  .gallary_div_main {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }
  
  .gallary_div_sub {
    transition-delay: .1s;
    color: white;
  }



/* new gallery */
body #pu41515 {
    margin-top: 58px;
}
#pu41515 {
    width: 0.01px;
    position: relative;
    margin-right: -10000px;
    margin-top: 110px;
    left: 19px;
}
.grpelem {
    display: inline;
    float: left;
}
.gallery_holder {
    padding-bottom: 0px;
}
.main_product_container {
    width: 1255px;
    margin: 0px auto;
    color: rgb(127, 127, 127);
}
#accordionu50782wrapper {
    min-height: 798px;
    z-index: 122;
    margin-right: -10000px;
}

#accordionu50782wrapper, #accordionu50782, #u50796, #u51007, #pamphletu51008, #u51023, #u50836, #pamphletu50837, #u50838, #u50988, #pamphletu50990, #u50997, #u50950, #pamphletu50952, #u50953, #u50893, #pamphletu50894, #u50897, #u50912, #pamphletu50914, #u50917, #u50874, #pamphletu50876, #u50881, #u50817, #pamphletu50819, #u50825, #u50969, #pamphletu50970, #u50983, #u51045, #pamphletu51047, #u51050, #u51064, #pamphletu51066, #u51072, #u50855, #pamphletu50856, #u50866, #u50931, #pamphletu50932, #u50939, #u51026, #pamphletu51028, #u51031, #u50798, #pamphletu50800, #u50813, #u50458, #u50240, #u50242, #u50271, #u50285, #u50299, #u50243, #u50313, #u50327, #u50292, #u50250, #u50306, #u50334, #u50257, #u50320, #u50278, #u50348, #u50264, #u50341, #u50233, #u50451, #u50366, #u50372, #u50415, #u50422, #u50380, #u50387, #u50373, #u50394, #u50401, #u50408, #u50359, #u50226, #u50429, #u50201, #u50208, #u50216_align_to_page, #u50221, #u50465, #u50472-19, #u50223-19, #u50186-15, #u50471-20, #u50215-13 {
    position: relative;
}
.accordion_wrapper {
    display: inline;
    float: left;
    width: 0px;
}










#u41515 {
  z-index: 3;
  width: 240px;
  height: 240px;
  border-color: #000000;
  position: relative;
  margin-right: -10000px;
  margin-top: 308px;
  left: 1px;
  background: #000000 url(../image/panel_order.jpg) no-repeat center center;
}

#u41516
{
	z-index: 4;
	width: 240px;
	height: 240px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 251px;
	background: #000000 url("/web/20180312230634im_/http://www.1print.net.au/images/gallery%20icons-01.png") no-repeat center center;
}

#u41517
{
	z-index: 5;
	width: 240px;
	height: 240px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 1px;
	background: #000000 url("/web/20180312230634im_/http://www.1print.net.au/images/gallery%20icons-01.png") no-repeat center center;
}

#u41518
{
	z-index: 6;
	width: 240px;
	height: 240px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
	left: 1px;
	background: #000000 url("/web/20180312230634im_/http://www.1print.net.au/images/gallery%20icons-01.png") no-repeat center center;
}

#u41519
{
	z-index: 7;
	width: 240px;
	height: 240px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 251px;
	background: #000000 url("/web/20180312230634im_/http://www.1print.net.au/images/gallery%20icons-01.png") no-repeat center center;
}

#u41520
{
	z-index: 8;
	width: 240px;
	height: 240px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
	left: 251px;
	background: #000000 url("/web/20180312230634im_/http://www.1print.net.au/images/gallery%20icons-01.png") no-repeat center center;
}
  
#slideshowu41521 {
  z-index: 9;
  width: 0.01px;
  height: 798px;
  position: relative;
  margin-right: -10000px;
  margin-top: 1px;
  left: 1px;
}
.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}
#u41567popup {
  z-index: 10;
}
.popup_anchor {
  position: relative;
  width: 0px;
  height: 0px;
}
