body.gallary_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  
.gallary_div_credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
  }
  
.gallary_div_options {
    display: flex;
    flex-direction: row;
    align-items: stretch;



    justify-content:center;

    height:100vh;

    overflow: hidden;
    min-width: 1200px;
    max-width: 1800px;
    width: calc(100% - 100px);
    min-height: 400px;
    max-height: 800px;
  }
  
  @media screen and (max-width: 718px) {
    .gallary_div_options {
      min-width: 520px;
    }
    .gallary_div_option:nth-child(5) {
      display: none;
    }
  }
  
  @media screen and (max-width: 638px) {
    .gallary_div_options {
      min-width: 440px;
    }
    .gallary_div_option:nth-child(4) {
      display: none;
    }
  }
  
  @media screen and (max-width: 558px) {
    .gallary_div_options {
      min-width: 360px;
    }
    .gallary_div_option:nth-child(3) {
      display: none;
    }
  }
  
  @media screen and (max-width: 478px) {
    .gallary_div_options {
      min-width: 280px;
    }
    .gallary_div_option:nth-child(2) {
      display: none;
    }
  }
  
  .gallary_div_option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  
  .gallary_div_option:nth-child(1) {
    --defaultBackground:#ED5565;
  }
  
  .gallary_div_option:nth-child(2) {
    --defaultBackground:#FC6E51;
  }
  
  .gallary_div_option:nth-child(3) {
    --defaultBackground:#FFCE54;
  }
  
  .gallary_div_option:nth-child(4) {
    --defaultBackground:#2ECC71;
  }
  
  .gallary_div_option:nth-child(5) {
    --defaultBackground:#5D9CEC;
  }
  
.gallary_div_option:nth-child(6) {
    --defaultBackground:#AC92EC;
  }
  
  .gallary_div_option.active {
    flex-grow: 10000;
    transform: scale(1);
    width: 1800px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
    /*&:active {
                 transform:scale(0.9);
              }*/
  }
  .gallary_div_article{
    position: absolute; 
    top: 0; 
    left: 50px

  }
  .gallary_div_shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .gallary_div_label {
    bottom: 20px;
    left: 20px;
    color: white;
  }
  
  .gallary_div_info > div {
    left: 0px;
    opacity: 1;
  }
  
  .gallary_div_option:not(.gallary_div_active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .gallary_div_option:not(.active) .gallary_div_shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .gallary_div_option:not(.active) .gallary_div_label {
    bottom: 10px;
    left: 10px;
    color: white;
  }
  
  .gallary_div_option:not(.gallary_div_active) .gallary_div_label .gallary_div_info > div {
    left: 20px;
    opacity: 0;
    color: white;
  }
  
  .gallary_div_shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  
  .gallary_div_label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    color: white;
  }
  
  .gallary_div_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
  }
  
  .gallary_div_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
  }
  
  .gallary_div_info > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
  }
  
  .gallary_div_main {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }
  
  .gallary_div_sub {
    transition-delay: .1s;
    color: white;
  }



.gallery_left{
    float: left;
    width: 500px;
    padding-left: 15px;
    margin-top: 10rem;
    height: 900px;
    
}
.gallery_span{
  width:495px;
  margin-bottom: 0;
  height: 48px;
  float:left;
  background: url(../image/product/gallert_swan.png) no-repeat right top;
  background-color: #504d4d;
}
.gallery_span:hover{
  width:495px;
  
  height: 48px;
  float:left;
  background: url(../image/home/gallery_spanhover.jpg) no-repeat right top;
  background-color: black;
}
.gallery_span:focus{
  width:495px;
  
  height: 48px;
  float:left;
  outline: none;
  background: url(../image/home/gallery_spanhover.jpg) no-repeat right top;
  background-color: black;
}
.galleryfor6{
    position:absolute;
    width: 500px;
    height: 750px;
    
}

.gallery_info_for6_1,
.gallery_info_for6_2,
.gallery_info_for6_3,
.gallery_info_for6_4,
.gallery_info_for6_5,
.gallery_info_for6_6{
    width:240px;
    margin-left:1.5rem;
    float:left;
    height: 240px;
    margin-top: 1rem!important;
}
.gallery_info_for6-1,
.gallery_info_for6-2,
.gallery_info_for6-3,
.gallery_info_for6-4,
.gallery_info_for6-5,
.gallery_info_for6-6{
  width:75rem;
  float:left;
  height: 69rem;
  
}
.gallery_info_for6_1{
    background: url(../image/gallery/bro-1.jpg) no-repeat center center;
    background-size: cover;
}
.gallery_info_for6-1{
  background: url(../image/gallery/bro-1.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6_2{
  background: url(../image/gallery/bro-2.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6-2{
  background: url(../image/gallery/bro-2.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6_3{
  background: url(../image/gallery/bro-3.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6-3{
  background: url(../image/gallery/bro-3.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6_4{
  background: url(../image/gallery/bro-4.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6-4{
  background: url(../image/gallery/bro-4.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6_5{
  background: url(../image/gallery/bro-5.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6-5{
  background: url(../image/gallery/bro-5.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6_6{
  background: url(../image/gallery/bro-6.jpg) no-repeat center center;
  background-size: cover;
}
.gallery_info_for6-6{
  background: url(../image/gallery/bro-6.jpg) no-repeat center center;
  background-size: cover;
}
.galleryfor15 p{
  padding-top: 128px;
  text-align: center;
    color:white!important;
}
.mask{
    position: relative;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    background: black url(../image/gallery/gallery\ icons-01.png) no-repeat center center;
    opacity: 0;
}
.mask1{
  position: relative;
  top: 0;
  left: 0;
  width: 165px;
  height: 150px;
  background: black url(../image/gallery/gallery\ icons-01.png) no-repeat center center;
  opacity: 0;
}
.mask2{
  position: relative;
  top: 0;
  left: 0;
  width: 165px;
  height: 150px;
  background: black url(../image/gallery/gallery\ icons-02.png) no-repeat center center;
  opacity: 0;
}
.mask3{
  position: relative;
  top: 0;
  left: 0;
  width: 165px;
  height: 150px;
  background: black url(../image/gallery/gallery\ icons-03.png) no-repeat center center;
  opacity: 0;
}
.mask4{
  position: relative;
  top: 0;
  left: 0;
  width: 165px;
  height: 150px;
  background: black url(../image/gallery/gallery\ icons-04.png) no-repeat center center;
  opacity: 0;
}
.mask5{
  position: relative;
  top: 0;
  left: 0;
  width: 165px;
  height: 150px;
  background: black url(../image/gallery/gallery\ icons-05.png) no-repeat center center;
  opacity: 0;
}
.gallery_info_for6_1:hover .mask,
.gallery_info_for6_2:hover .mask,
.gallery_info_for6_3:hover .mask,
.gallery_info_for6_4:hover .mask,
.gallery_info_for6_5:hover .mask,
.gallery_info_for6_6:hover .mask {
    opacity: 0.8;           
}


.galleryfor15{
  position:absolute;
  left:0;
  top:0;
  width: 500px;
  height: 750px;
}
.gallery_info_for15_1{
  background: url(../image/gallery/bro-2.jpg) no-repeat center center;
}
.gallery_info_for15_2{
  background: url(../image/gallery/Brochure1.jpg) no-repeat center center;
}
.gallery_info_for15_3{
  background: url(../image/gallery/bc1.jpg) no-repeat center center;
}
.gallery_info_for15_1,
.gallery_info_for15_2,
.gallery_info_for15_3,
.gallery_info_for15_4,
.gallery_info_for15_5,
.gallery_info_for15_6,
.gallery_info_for15_7,
.gallery_info_for15_8,
.gallery_info_for15_9,
.gallery_info_for15_10,
.gallery_info_for15_11,
.gallery_info_for15_12,
.gallery_info_for15_13,
.gallery_info_for15_14,
.gallery_info_for15_15{
  width:165px;
  margin-left:0;
  float:left;
  height: 150px;
  margin-bottom:0;
  background-color: red;
  background-size: cover;
}
.gallery_info_for15_1:hover .mask1,
.gallery_info_for15_2:hover .mask2,
.gallery_info_for15_3:hover .mask3,
.gallery_info_for15_4:hover .mask4,
.gallery_info_for15_5:hover .mask5,
.gallery_info_for15_6:hover .mask1,
.gallery_info_for15_7:hover .mask1,
.gallery_info_for15_8:hover .mask1,
.gallery_info_for15_9:hover .mask1,
.gallery_info_for15_10:hover .mask1,
.gallery_info_for15_11:hover .mask1,
.gallery_info_for15_12:hover .mask1,
.gallery_info_for15_13:hover .mask1,
.gallery_info_for15_14:hover .mask1,
.gallery_info_for15_15:hover .mask1{
  opacity: 0.8; 
}
.gallery_right{
  float: left;
  width: 750px;
  padding-left: 10px;
  margin-top: 10rem;
  height: 900px;
  
}
.gallery_silde{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    height: 70rem;
    width: 100%;
    
}
.mySlides{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    height: 69rem;
    width: 100%;
    
    
}
.slider-controls1 {
  width: 75rem;
  position: absolute;
  top: 46%;
  -webkit-transform: translate3d(0px, -50%, 0px);
  transform: translate3d(0px, -50%, 0px);
  z-index: 0;
}
.slider-controls1>.gallery_previous, .slider-controls1>.gallery_next {
  position: absolute;
  width: 64px;
  height: 64px;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background-size: 64px;
  background-color: #7f7f7f;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.slider-controls1>.gallery_previous:hover, .slider-controls1>.gallery_next:hover {
  background-color:black;
}
.slider-controls1>.gallery_next {
  right: 0px;
  color: white;
  
}
.slider-controls1>.gallery_previous {
 left: 0px;
 color: white;
  
}
.gallery_silde_note{
  float: left;
  margin-top: 10px;
  color: white!important;
  position:relative;
    
    height: 10rem;
    width: 60rem;
    background-color: #504d4d;
}
.gallery_page_next{
  float: left;
  margin-top: 10px;
  height: 10rem;
  width: 14rem;
  margin-left: 1rem;
  color: white!important;
  background-color: #7f7f7f;
}
.gallery_page_next:hover{
  background-color: black;
}
.gallery_silde_note p{
  padding-left: 10px;
  padding-top: 10px;
}