
html {
    font-size: 10px !important;
}

.clickOn {
    color:#fff;
    background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
}

.header {
    width: 130rem;
    height: 11rem;
    display: grid;
    position: sticky;
    z-index:999;
    top: 0;
    background:white;
    grid-template-columns: 47% 5.3% 5.3% 5.3% 5.3% 5.3% 5.3% 5.3% 5.3% 5.3% 5.3%;
    margin: 0 auto;
}
/*  header  */
div.header>div>p{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif ;
    color: #454d55;
}
div.header>div:hover>p{
    color: white;
}

h1.hp_title {
    font-size: 4rem;
    text-align: left;
    line-height: 4rem;
    color: #323232;
    font-weight: bold;
    padding-bottom:3rem;
}

#product_ul,
#design_ul,
#gallary_ul{
    color: black;
    display: none;
    z-index:10;
    position: absolute;
    /* top: 10.3rem; */
    top: 101%;
    left: 67.8rem;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 12%;
    height: 20%;
    font-family: Candara;
}

#product_ul li,
#design_ul li,
#gallary_ul li{
    background: linear-gradient(to bottom, white, #e8e8e9);
    color: #454d55;
    width: 105%;
    height: 110%;
    text-align: left;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 3rem;
}
#product_ul li:hover,
#design_ul li:hover,
#gallary_ul li:hover{
    background: gray;
    color: white;
    line-height: 3rem;
}
/* home */
.home_icon_holder {
    background: #fff;
    padding-top: 3rem;
    /*padding-bottom: 3rem;*/
    width: 128rem;
    margin: 0 auto;
    position: relative;
    min-height: 20rem;
}

.home_menu {
    z-index: 50;
    width: 16.7rem;
    min-height: 2.4rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #E4E4E4;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -khtml-border-radius: 0.3rem;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: bold;
    float: left;
    margin: 0 0.6rem 1.2rem;
    position: relative;
    background-size: contain !important;
}
.home_menu a {
    display: block;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 9.8rem;
    padding-bottom: 0.6rem;
    color: #959595;
    text-decoration: none;
}
.booklets_holder,
.brochures_holder,
.business_cards_holder,
.notepads_holder,
.docketbooks_holder,
.envelopes_holder,
.flyers_holder,
.magnets_holder,
.letterheads_holder,
.postcards_holder,
.posters_holder,
.presentation_folders_holder,
.with_comps_holder,
.web_design_holder {
    transition:background 0.7s;
    -moz-transition:background 0.7s; /* Firefox 4 */
    -webkit-transition:background 0.7s; /* Safari and Chrome */
    -o-transition:background 0.7s; /* Opera */
}

.booklets_holder {
    background: #FFFFFF url(../image/home/booklets.jpg) no-repeat center top;
}
.booklets_holder:hover {
    background: #FFFFFF url(../image/home/bookletsHover.jpg) no-repeat center top;
}

.brochures_holder {
    background: #FFFFFF url(../image/home/brochures.jpg) no-repeat center top;
}
.brochures_holder:hover {
    background: #FFFFFF url(../image/home/brochuresHover.jpg) no-repeat center top;
}

.business_cards_holder {
    background: #FFFFFF url(../image/home/business.jpg) no-repeat center top;
}
.business_cards_holder:hover {
    background: #FFFFFF url(../image/home/businessHover.jpg) no-repeat center top;
}

.notepads_holder {
    background: #FFFFFF url(../image/home/notepads.jpg) no-repeat center top;
}
.notepads_holder:hover {
    background: #FFFFFF url(../image/home/notepadsHover.jpg) no-repeat center top;
}

.docketbooks_holder {
    background: #FFFFFF url(../image/home/docket.jpg) no-repeat center top;
}
.docketbooks_holder:hover {
    background: #FFFFFF url(../image/home/docketHover.jpg) no-repeat center top;
}

.envelopes_holder {
    background: #FFFFFF url(../image/home/envelopes.jpg) no-repeat center top;
}
.envelopes_holder:hover {
    background: #FFFFFF url(../image/home/envelopesHover.jpg) no-repeat center top;
}


.flyers_holder {
    background: #FFFFFF url(../image/home/flyers.jpg) no-repeat center top;
}
.flyers_holder:hover {
    background: #FFFFFF url(../image/home/flyersHover.jpg) no-repeat center top;
}

.magnets_holder {
    background: #FFFFFF url(../image/home/magnets.jpg) no-repeat center top;
}
.magnets_holder:hover {
    background: #FFFFFF url(../image/home/magnetsHover.jpg) no-repeat center top;
}

.letterheads_holder {
    background: #FFFFFF url(../image/home/letterheads.jpg) no-repeat center top;
}
.letterheads_holder:hover {
    background: #FFFFFF url(../image/home/letterheadsHover.jpg) no-repeat center top;
}

.postcards_holder {
    background: #FFFFFF url(../image/home/postcard.jpg) no-repeat center top;
}
.postcards_holder:hover {
    background: #FFFFFF url(../image/home/postcardHover.jpg) no-repeat center top;
}


.posters_holder {
    background: #FFFFFF url(../image/home/posters.jpg) no-repeat center top;
}
.posters_holder:hover {
    background: #FFFFFF url(../image/home/postersHover.jpg) no-repeat center top;
}

.presentation_folders_holder {
    background: #FFFFFF url(../image/home/presentation.jpg) no-repeat center top;
}
.presentation_folders_holder:hover {
    background: #FFFFFF url(../image/home/presentationHover.jpg) no-repeat center top;
}

.with_comps_holder {
    background: #FFFFFF url(../image/home/with.jpg) no-repeat center top;
}
.with_comps_holder:hover {
    background: #FFFFFF url(../image/home/withHover.jpg) no-repeat center top;
}

.web_design_holder {
    background: #FFFFFF url(../image/home/web.jpg) no-repeat center top;
}
.web_design_holder:hover {
    background: #FFFFFF url(../image/home/webHover.jpg) no-repeat center top;
}




/* .home_content_left{
    position: relative;
    width: 60rem;
    left: 10rem;
    float: left;
    height: 60rem;
} */
/* .home_content_right{
    position: relative;
    width: 60rem;
    left: 15rem;
    float: left;
    min-height: 30%;
} */

.home_img_place {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    height: 60rem;
}

.home_img_1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.home_img_2 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.home_img_3 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.home_img_4 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.home_content_p1 {
    font-size: x-large;
    font-family: Candara;
}
.home_content_p2 {
    font-size: xx-large;
    font-family: Candara;
}



.home_content_holder,
.home_width_holder{
    /* position: relative; */
    margin:3%;
}

.support_div,
.design_div,
.product_div,
.gallary_div,
.aboutUs_div,
.contact_div,
.home_div,
.cart_div,
.login_div_forgetpasswd,
.login_div{
    width: 144rem;
    min-height: 63rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
.register_div{
    width: 144rem;
    min-height: 60rem;
    padding-bottom:10rem;
    margin-left: auto;
    margin-right: auto;
    background-size: 200% 100% !important;
    background: white;
}
.companyLogo {
    display: grid;
    text-align: center;
    font-size: small;

}
.home,
.product,
.design,
.gallary,
.support,
.aboutUs,
.contact {

    /*font-size: small;*/
    /* color:black; */
    /* border-radius: 0.5rem; */
    /*font-size: 1.8rem;*/
    /*font-family: Candara;*/
    display: grid;
    border: 0.1rem solid rgb(231, 231, 231);
    margin-left: -0.1rem;
    margin-top: -0.1rem;
    cursor:pointer;
}


.home>p,
.product>p,
.design>p,
.gallary>p,
.support>p,
.aboutUs>p,
.contact>p {
    height: 50%;
    line-height: 10rem;
    text-align: center;
}
.home:hover,
.product:hover,
.design:hover,
.gallary:hover,
.support:hover,
.aboutUs:hover,
.contact:hover{
    color: white;
    background-color:#29ABE2 ;
}

/* .home:hover>ul,
.product:hover>ul,
.design:hover>ul,
.gallary:hover>ul,
.support:hover>ul,
.aboutUs:hover>ul,
.contact:hover>ul{
    display: block;
} */

.cart,
.login,
.register {
    display: grid;
    text-align: center;
    /*font-size: small;*/
    background-color: rgb(228, 228, 228);
    line-height: 10rem;
    font-size: 1.5rem;
    border: 0.1rem solid #fff;
    /*font-family: Candara;*/
    cursor:pointer;
}
.cart:hover,
.login:hover,
.register:hover {
    color:#fff;
    background-color: grey;
}


.fixed-bottom {position: fixed;bottom: 0;width:100%;}

/* displayBox */
.displayBox{
    position: sticky;
    z-index:-1;
    width: 190rem;
    height: 45rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3rem;
    margin-bottom:3rem;
    top:11.5rem;
}
.displayBox ul{
    /* position:absolute; */
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}
.displayBoxv1 ul li {
    float: left;
    width: 17.8rem;
    height: 10.8rem;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}

.displayBox_hd {
    height: 1rem;
    z-index:1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    z-index: 1;
}
.displayBox_hd ul{
    text-align:center;
    padding-top:0.5rem;
}
.displayBox_hd ul li {
    cursor:pointer;
    float: left;
    margin-right: 0.5rem;
    width: 3rem;
    height: 1rem;
    line-height: 1.4rem;
    text-align: center;
    background: black;
}
.displayBox_hd ul .on {
    background: #00a2ff;
    color: #fff;
}
.displayBox_bd{
    position:relative;
    z-index:0;
}
.displayBox_bd li img{
    width:100%;
    vertical-align:top;
}


/*  footer  */

.footer {
    width: 190rem;
    min-height: 20rem;
    background: #101114;
    margin: 0 auto;
    padding: 0;
}
.footer_div_phoneNumber {
    /* position: relative; */
    height: 10rem;
    width: 50rem;
    /* left: 10%; */
    /* top: 60px; */
    display: inline-block;
    margin-left: 10%;
    margin-top: 3%;
}
.footer_div_phoneNumber  img{
    float: left;
}
.footer_div_phoneNumber p{
    text-align: center;
    font-size:4rem;
    color:white;
    font-weight:bold;
    line-height: 9rem;
    font-family:Microsoft Yahei;
    display: inline;
}
.footer_div_placeInfo {
    /* position: relative; */
    right: 0;
    float: right;
    /* top: -95px; */
    width: 60%;
    height: 90%;
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    margin-top: 1.2rem;
}
.footer_div_placeInfo h1 {
    font-size: 1.5rem;
    color: white;
    text-align: left;
}
.footer_div_placeInfo p {
    font-size: 1.5rem;
    color: white;
    text-align: left;
}

.footer_width_holder {
    width: 128rem;
    margin: 0 10rem;
    padding-top: 3rem;
}
.footer_col1 {
    float: left;
    width: 35.4rem;
    padding-left: 1rem;
}
.search_holder {
    padding-top: 3rem;
    color: #959595;
    padding-left: 13rem;
}
input.search_field {
    float: left;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    -khtml-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    background: #bcbcbc;
    padding-left: 1rem;
    width: 16rem;
}
input.btn_search {
    float: left;
    background: #0071BC url(../image/search.jpg) no-repeat left top;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -khtml-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: 0;
    overflow: hidden;
    line-height: 30rem;
    width: 5.2rem;
}

.search_holder input {
    font-size: 1.4rem;
    height: 3.5rem;
}

.footer_col2 {
    float: right;
    width: 83rem;
}
.footer_col2 ul {
    padding: 0;
}
.footer_col2 li {
    list-style: none;
}

.footer_heading {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

.footer_phone_number{
    float:left;
    width:36rem;
    height:4.6rem;
}
.footer_menu1 {
    width: 14rem;
    font-size: 1rem;
    color: #959595;
    float: left;
    line-height: 1.2rem;
}
.footer_menu2 {
    width: 15.5rem;
    font-size: 1rem;
    color: #959595;
    float: left;
    line-height: 1.2rem;
}
.footer_menu3 {
    width: 14rem;
    font-size: 1rem;
    color: #959595;
    float: left;
    line-height: 1.2rem;
}
.footer_menu4 {
    width: 11rem;
    font-size: 1rem;
    color: #959595;
    float: left;
    line-height: 1.2rem;
}
.footer_menu5 {
    width: 14.1rem;
    font-size: 1rem;
    color: #959595;
    float: left;
    line-height: 1.2rem;
}
.footer_menu1 a,
.footer_menu2 a,
.footer_menu3 a,
.footer_menu4 a,
.footer_menu5 a {
    color: #959595;
    line-height: 1.2rem;
    text-decoration: none;
}
.social_media_holder {
    width: 12.5rem;
    float: left;
}
.credentials {
    color: #959595;
    font-size: 1.1rem;
    padding-top: 2rem;
}



/* �°벿 */
.home_content_holder {
    width: 125.6rem;
    /* margin: 0 auto; */
    padding-top: 30px;
    padding-bottom: 35px;
}
.home_content_left {
    float: left;
    width: 60rem;
    left: 100rem;
    min-height: 30rem;
    color: #7F7F7F;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: justify;
}
.home_content_holder {
    width:125.6rem;
    margin:0 auto;
    padding-top:3rem;
    padding-bottom:3.5rem;
}
/*.hp_title {*/
/*    font-size: 4rem;*/
/*    text-align: left;*/
/*    line-height: 4rem;*/
/*    color: #323232;*/
/*    font-weight: bold;*/
/*    padding-bottom: 3rem;*/
/*}*/
.latest-articles {
    color: #323232;
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    text-align: left;
    display: inline-block;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.blog_article {
    border-width: 0;
    margin: 0;
    padding: 0;
    transform-origin: left top 0;
}
.blog_post_container {
    display: inline-block;
    width: 18.1rem;
    padding-right: 0rem;
    float: left;
    text-align: left;
}
.blog_post_title {
    color: #323232;
    font-size: 1.9rem;
    font-weight: normal;
    line-height: 2.3rem;
    text-align: left;
    padding-bottom: 1.5rem;
}
.blog_post_content {
    line-height: 1.8rem;
    color: #7f7f7f;
    font-size: 1.5rem;
}
.blog_post_view {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.9rem;
    text-align: left;
    padding-top: 1.5rem;
}
.blog_post_view a{
    background:#29abe2;
    color:#fff;
    display:inline-block;
    text-decoration:none;
    padding:0.5rem 1rem;
}
.home_content_right {
    width: 52.5rem;
    float: right;
}
.home_subtitle {
    color: #323232;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    text-align: left;
    padding-bottom:1rem;
}
.home_panel1, .home_panel2, .home_panel3 {
    width:16.5rem;
    margin-left:1.5rem;
    float:left;
}
.home_panel1 a, .home_panel2 a, .home_panel3 a {
    text-decoration:none;
    color: #7F7F7F;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.8rem;
    display:block;
}
.home_panel1 {
    margin-left:0;
    background:url(../image/home/home_order.jpg) no-repeat left top;
}
.home_panel2 {
    background:url(../image/home/home_delivery.jpg) no-repeat left top;
}
.home_panel3 {
    background:url(../image/home/home_faq.jpg) no-repeat left top;
}
.home_panel1 h4, .home_panel2 h4, .home_panel3 h4 {
    color: #323232;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem;
    padding-bottom:2rem;
    padding-top:1rem;
}
.home_panel1 a.blue_link, .home_panel2 a.blue_link, .home_panel3 a.blue_link {
    color: #29ABE2;
    font-weight: bold;
    text-decoration: none;
}
.home_panel1_img {
    width: 16.5rem;
    height: 14.2rem;
    background: transparent url(../image/home/home_order_hover.jpg) no-repeat center center;
    background-size: cover !important;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s;
    /* Firefox 4 */
    -webkit-transition:opacity 0.5s;
    /* Safari and Chrome */
    -o-transition:opacity 0.5s;
    /* Opera */
    opacity:0;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -khtml-border-radius: 0.3rem;
    border-radius: 0.3rem;
}
.home_panel2_img {
    width: 16.5rem;
    height: 14.2rem;
    background: transparent url(../image/home/home_delivery_hover.jpg) no-repeat center center;
    background-size: cover !important;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s;
    /* Firefox 4 */
    -webkit-transition:opacity 0.5s;
    /* Safari and Chrome */
    -o-transition:opacity 0.5s;
    /* Opera */
    opacity:0;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -khtml-border-radius: 0.3rem;
    border-radius: 0.3rem;
}
.home_panel3_img {
    width: 16.5rem;
    height: 14.2rem;
    background: transparent url(../image/home/home_faq_hover.jpg) no-repeat center center;
    background-size: cover !important;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s;
    /* Firefox 4 */
    -webkit-transition:opacity 0.5s;
    /* Safari and Chrome */
    -o-transition:opacity 0.5s;
    /* Opera */
    opacity:0;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -khtml-border-radius: 0.3rem;
    border-radius: 0.3rem;
}
.home_panel1 a:hover .home_panel1_img, .home_panel2 a:hover .home_panel2_img, .home_panel3 a:hover .home_panel3_img {
    opacity:1;
}
.booklets_img,
.brochures_img,
.business_cards_img,
.notepads_img,
.docketbooks_img,
.envelopes_img,
.flyers_img,
.magnets_img,
.letterheads_img,
.postcards_img,
.posters_img,
.presentation_folders_img,
.promotional_products_img,
.with_comps_img,
.home_panel1_img,
.home_panel2_img,
.home_panel3_img
{
    background: none\9;
}
