html {
    font-size: 10px !important;
}
/* .product_div_display1 {
    margin-left: 10rem;
    margin-right: auto;
    margin-top: 3rem;
}
.product_div_display2 {
    margin-left: 10rem;
    margin-right: auto;
    margin-top: 10rem;
}

.product_div_display3 {
    margin-top: 10rem;
    margin-left: 10rem;
} */
.product_div_main {
    width: 100rem;
    min-height:200rem;
    margin: 0 auto;
}

.product_div_first {
    width: 90rem;
    height: 40rem;
    margin: 0 auto;
    display: inline-block;
}
.product_div_second,
.product_div_third,
.product_div_forth,
.product_div_fivth {
    margin-top: 6rem;
    width: 90rem;
    height: 40rem;
    margin: 0 auto;
    display: inline-block;
}
.product_div_img1,
.product_div_img2,
.product_div_img3,
.product_div_img4,
.product_div_img5 {
    width: 40rem;
    height: 30rem;
    margin-left: 0;
    margin-top: 0;
    display: inline-block;
    /* margin-top: 5rem; */
    position: relative;
    top: 5rem;
}
.product_div_message {
    width: 45rem;
    height: 35rem;
    margin-left: 4rem;
    margin-top: 0;
    display: inline-block;
    position: relative;
    top: 0;
}

.product_div_img1 {
    background: url(../image/product/Product1.jpg) no-repeat center top;
}
.product_div_img2 {
    background: url(../image/product/Product2.jpg) no-repeat center top;
}
.product_div_img3 {
    background: url(../image/product/Product3.jpg) no-repeat center top;
}
.product_div_img4 {
    background: url(../image/product/Product4.jpg) no-repeat center top;
}
.product_div_img5 {
    background: url(../image/product/Product5.jpg) no-repeat center top;
}

.product_name {
    margin-top: 3rem;
    font-size: 3rem;
    color: black;
    margin: 0;
}
.product_name :hover {
    color: darkorange;
}
.product_price {
    margin-top: 1rem;
    color: black;
    font-size: 2rem;
}
.product_describe {
    width: 45rem;
    height: 15rem;
    border: solid;
    border-left: 0;
    border-right: 0;
    border-color: gray;
}
.product_describe_message {
    margin: 1rem;
}
#product_addCart1,
#product_addCart2,
#product_addCart3,
#product_addCart4,
#product_addCart5 {
    width: 15rem;
    height: 5rem;
    border: 0.2rem solid;
    border-color: gray;
    position: relative;
    top: 3rem;
    margin: 0;
    cursor:pointer;
}
#product_addCart1 p,
#product_addCart2 p,
#product_addCart3 p,
#product_addCart4 p,
#product_addCart5 p {
    color: black;
    margin: 0 auto;
    font-size: 2rem;
    position: relative;
    top: 1rem;
    left: 1rem;
}
body
{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.7rem;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;/* kerning, primarily */
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{
    margin: 0;
    padding: 0;
    border-width: 0;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}
.text_holder{
    width:100%;
    background:#fff;
    position:relative;
    z-index:100;
    padding-top:50px;
    padding-bottom:50px;
}
h2{
    color: #323232;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    text-align: justify;
    padding-bottom:20px;
}
h3{
    color: #323232;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    text-align: justify;
    padding-bottom:20px;
}
.black{
    color:#323232;
}
.product_main_left_right h4{
    color: #323232;
    font-size: 22px;
    font-weight: bold;
    line-height:26px;
}
.main_product_container h1.card_title{
    font-size:3.7rem;
}
.padding_top{
    padding-top:2rem;
}
/* product new */
.product_main_left {
    width: 54.2rem;
    float: left;
}
.product_main_left_left {
    width:54.2rem;
    float:left;
    text-align:justify;
}
.product_main_left_right {
    /*width: 330px;*/
    width:33rem;
    /*padding-left:2.7rem;*/
}


.product_main_right {
    width: 66rem;
    float: right;
}
.main_product_container {
    width: 125.5rem;
    margin: 0 auto;
    color: #7f7f7f;
    box-sizing: content-box;
}

.main_product_container h1 {
    color: #323232;
    font-size: 39px;
    font-weight: bold;
}
.option_text_holder{
    width:25rem;
    /*float:left;*/
    padding-left:2rem;
    display: inline-block;
}
.option_text_holder ul,
.option_text_holder li{
    list-style:disc;
}
.option_size_list{

}
.option_holder{
    padding-top:2rem;
}
.option_icon_holder{
    width: 4.8rem;
    height: 4.8rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #EBEBEB;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -khtml-border-radius: 0.3rem;
    border-radius: 0.3rem;
    background-size: cover !important;
    float:left;
    display: inline-block;
}
.paper_option .option_icon_holder{
    background:url(../image/product/product_option_icons_paper.png) 0 0 no-repeat #f0f0f0;
}
.finish_option .option_icon_holder{
    background:url(../image/product/product_option_icons_finish.png) 0 0 no-repeat #f0f0f0;
}
.colour_option .option_icon_holder{
    background:url(../image/product/product_option_icons_colour.png) 0 0 no-repeat #f0f0f0;
}
.bind_option .option_icon_holder{
    background:url(../image/product/product_option_icons_bind.png) 0 0 no-repeat #f0f0f0;
}
.effect_option .option_icon_holder{
    background:url(../image/product/product_option_icons_effect.png) 0 0 no-repeat #f0f0f0;
}
.option_heading{
    color: #323232;
    font-weight: bold;
}
.main_left_bottom1{
    padding:3rem 0;
    display: inline-block;
}



/* booklet*/
.booklet-quote-left {
    width: 30%;
    float: left;
}

.booklet-quote-left h2 {
    color: #323232;
    font-size: 39px;
    line-height: 47px;
    font-weight: bold;
    text-align: left;
}

.booklet-quote-left h2 span {
    display: block;
}

.booklet-quote-right {
    width: 69%;
    float: left;
    text-align: left;
}

.booklet-quote-right table td,
.booklet-quote-right table input {
    box-sizing: border-box;
}

.booklet-quote-right table input {
    width: 100%;
}

.booklet-quote-right select {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    border: none;
}

.booklet-quote-right #custom_table td {
    padding: 5px;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
}

.booklet-quote-right td.option_first_col {
    font-weight: bold;
    color: #000;
    font-size: 13px;
}

.booklet-quote-right td.one-line {
    padding: 5px;
    width: 50%;
}

.booklet-quote-right td.one-line-title {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.booklet-quote-right .st-input input,
.booklet-quote-right .st-input textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.booklet-quote-right .subscribe_holder {
    width: 40px;
    float: left;
}

.booklet-quote-right .st-input input#sigin_in_newsletter {
    width: auto;
}

.booklet-quote-right tr.tr-pt15 td {
    padding-top: 15px;
}
.booklets_button_holder {
    width: 63rem;
    background: #EBEBEB repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FFFFFF, #EBEBEB 100%);
    border-width: 0.1rem;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -khtml-border-radius: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 1.2rem;
    padding-top: 1rem;
    padding-right: 2.4rem;
    color: #323232;
    margin-bottom: -0.1rem;
    position: relative;
    padding-bottom: 1rem;
    text-align: center;
}
input.blue_button {
    background: #2a57a7;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    width: 199px;
    padding: 7px 0 !important;
    margin: 5px 0;
    cursor: pointer;
    border: none !important;
    font-weight: bold !important;
}

input.blue_button:hover,
a.blue_button:hover,
button.blue_button:hover {
    background: #323232;
}

/* flyer_holder*/
.size_4pages.size_row{
	padding-top:40px;
    display: inline-flex;
}
.size_row{
	padding-bottom:20px;
    display: inline-flex;
}

.size_col1{
	float:left;
	width:111px;
}
.size_col1 img{
	height:71px;
	width:71px;
}
.size_col1 .fold_title{
	font-size: 21px;
    line-height: 21px;
	color:#323232;
	font-weight:bold;
}
.size_col1 .fold_info{
	font-size: 12px;
    line-height: 14px;
	color:#323232;
	font-weight:bold;
}
.bro_setup{
	width:16.3rem;
	height:11.1rem;
	background: #EBEBEB  repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#EBEBEB 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #DCDCDC;
	-moz-border-radius: 5px 5px 5px 5px ;
	-webkit-border-radius: 5px 5px 5px 5px ;
	-khtml-border-radius: 5px 5px 5px 5px ;
	border-radius: 5px 5px 5px 5px ;
	text-align: left;
	position: relative;
	-webkit-box-sizing:border-size;
	-moz-box-sizing:border-size;
	box-sizing:border-size;
	float:left;
	margin-left:7rem;
}

.f_bro_setup{
    width:18rem;
    height:11.1rem;
    background: #EBEBEB  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
    background: -moz-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
    background: -ms-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
    background: -o-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
    background: linear-gradient(to bottom,#FFFFFF ,#EBEBEB 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px 5px 5px 5px ;
    -webkit-border-radius: 5px 5px 5px 5px ;
    -khtml-border-radius: 5px 5px 5px 5px ;
    border-radius: 5px 5px 5px 5px ;
    text-align: left;
    position: relative;
    -webkit-box-sizing:border-size;
    -moz-box-sizing:border-size;
    box-sizing:border-size;
    float:left;
    margin-left:7rem;
}

.bro_subtitle{
	font-size: 15px;
	line-height: 18px;
	padding-left: 9px;
	color: #323232;
	font-weight: bold;
	height:20px;
	margin-top:5px;
}

.f_bro_setup a.bro_link{
	/*background:url(../image/overlay-learn-more.png) no-repeat;*/
	opacity:0;
	transition:opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition:opacity 0.5s; /* Safari and Chrome */
	-o-transition:opacity 0.5s; /* Opera */
}
.bro_setup a.bro_link{
    /*background:url(../image/overlay-learn-more.png) no-repeat;*/
    opacity:0;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition:opacity 0.5s; /* Safari and Chrome */
    -o-transition:opacity 0.5s; /* Opera */
}

.bro_setup a.bro_link:hover{
	opacity:1;
}
.bro_setup a.bro_link:link,
.bro_setup a.bro_link:visited{
	text-decoration:none !important;
	color:#323232;
	display:block;
	height:92px;
	width:127px;
	position:absolute;
	z-index:20;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.bro_setup .bro_dl a{
	width:12.7rem;
	min-height: 1.7rem;
	background: #323232  repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#606060),color-stop(100%, #323232));
	background: -webkit-linear-gradient(top,#606060 ,#323232 100%);
	background: -moz-linear-gradient(top,#606060 ,#323232 100%);
	background: -ms-linear-gradient(top,#606060 ,#323232 100%);
	background: -o-linear-gradient(top,#606060 ,#323232 100%);
	background: linear-gradient(to bottom,#606060 ,#323232 100%);
	-moz-border-radius: 0px 0px 3px 3px ;
	-webkit-border-radius: 0px 0px 3px 3px ;
	-khtml-border-radius: 0px 0px 3px 3px ;
	border-radius: 0px 0px 3px 3px ;
	padding-top: 6px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
	font-weight: normal;
	top: -1px;
	margin-bottom: -1px;
	display:inline-block;
	position: relative;
	text-decoration:none;
}
.bro_setup .bro_dl a:hover{
	background: #0071BC  repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	border-color: #0071BC;
}
.bro_setup .bro_sizing{
	font-size: 36px;
	line-height: 68px;
	color: #959595;
	font-weight: bold;
	text-align:center;
	height:43px;
	padding-top:5px;
}
.bro_setup a.bro_link:hover{
    opacity:1;
}
.f_bro_setup a.bro_link:link,
.f_bro_setup a.bro_link:visited{
    text-decoration:none !important;
    color:#323232;
    display:block;
    height:92px;
    width:127px;
    position:absolute;
    z-index:20;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.f_bro_setup .bro_dl a{
    width:12.7rem;
    min-height: 1.7rem;
    background: #323232  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#606060),color-stop(100%, #323232));
    background: -webkit-linear-gradient(top,#606060 ,#323232 100%);
    background: -moz-linear-gradient(top,#606060 ,#323232 100%);
    background: -ms-linear-gradient(top,#606060 ,#323232 100%);
    background: -o-linear-gradient(top,#606060 ,#323232 100%);
    background: linear-gradient(to bottom,#606060 ,#323232 100%);
    -moz-border-radius: 0px 0px 3px 3px ;
    -webkit-border-radius: 0px 0px 3px 3px ;
    -khtml-border-radius: 0px 0px 3px 3px ;
    border-radius: 0px 0px 3px 3px ;
    padding-top: 6px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    font-weight: normal;
    top: -1px;
    margin-bottom: -1px;
    display:inline-block;
    position: relative;
    text-decoration:none;
}
.f_bro_setup .bro_dl a:hover{
    background: #0071BC  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
    background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
    border-color: #0071BC;
}
.f_bro_setup .bro_sizing{
    font-size: 36px;
    line-height: 68px;
    color: #959595;
    font-weight: bold;
    text-align:center;
    height:43px;
    padding-top:5px;
}
.f_bro_setup a.bro_link:hover{
    opacity:1;
}
.small_bro_sizing{
    font-size: 36px;
    line-height: 44px;
    color: #959595;
    font-weight: bold;
    text-align:center;
    height:43px;
    padding-top:5px;
}
.bro_title {
	text-align:center;
	font-size: 14px;
	font-weight: bold;
	line-height: 43px;
	height:30px;
	color:#323232;
}
.bro_sizing_sml {
	text-align:center;
	font-size: 12px;
	line-height: 15px;
	color: #323232;
	font-weight: normal;
	height:23px;
}
.folding_list {
    float: left;
    font-size: 1.2rem;
    padding: 1rem 0;
    text-align: center;
    width: 9rem;
}
.folding_list strong {
    color: #323232;
    font-weight: bold;
	display:block;
}
.folding_list img {
    width:87px;
	height:87px;
}
.margin_left20{
	margin-left:20px;
}
.no_margin{
    margin:0 !important;
}

.product_info_design,
.product_info_gallery,
.product_info_order,
.product_info_guidelines,
.product_info_templates,
.product_info_express,
.product_info_delivery{
    width:16.5rem;
    margin-left:18.8rem;
    float:left;
}

.product_info_design a,
.product_info_gallery a,
.product_info_order a,
.product_info_guidelines a,
.product_info_templates a,
.product_info_express a,
.product_info_delivery a{
    text-decoration:none;
    color: #7F7F7F;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.8rem;
    display:block;
}
.product_info_design{
	background:url(../image/panel_design.jpg) no-repeat left top;
}
.product_info_gallery{
	background:url(../image/panel_gallery.jpg) no-repeat left top;
}
.product_info_order{
    background:url(../image/panel_order.jpg) no-repeat left top;
}
.product_info_guidelines{
    background:url(../image/panel_guidelines.jpg) no-repeat left top;
}
.product_info_templates{
    background:url(../image/panel_templates.jpg) no-repeat left top;
}
.product_info_express{
    background: url(../image/panel_express.jpg) no-repeat left top;
}
.product_info_delivery{
    background: url(../image/panel_delivery.jpg) no-repeat left top;
}
.product_info_design:hover{
    background:url(../image/panel_design_hover.jpg) no-repeat left top;
}
.product_info_gallery:hover{
	background:url(../image/panel_gallery_hover.jpg) no-repeat left top;
}
.product_info_order:hover{
    background:url(../image/panel_order_hover.jpg) no-repeat left top;
}
.product_info_guidelines:hover{
    background:url(../image/panel_guidelines_hover.jpg) no-repeat left top;
}
.product_info_templates:hover{
    background:url(../image/panel_templates_hover.jpg) no-repeat left top;
}
.product_info_express:hover{
    background:url(../image/panel_express_hover.jpg) no-repeat left top;
}
.product_info_delivery:hover{
    background:url(../image/panel_delivery_hover.jpg) no-repeat left top;
}
.gallery_brochure{
    background:url(../image/panel_gallery_brochure.jpg) no-repeat left top;
}
.gallery_bcards{
    background:url(../image/panel_gallery_bcards.jpg) no-repeat left top;
}
.gallery_notepad{
    background:url(../image/panel_gallery_notepad.jpg) no-repeat left top;
}
.gallery_docket{
    background:url(../image/panel_gallery_docket.jpg) no-repeat left top;
}
.gallery_envelope{
    background:url(../image/panel_gallery_envelope.jpg) no-repeat left top;
}
.gallery_flyer{
    background:url(../image/panel_gallery_flyer.jpg) no-repeat left top;
}
.gallery_magnet{
    background:url(../image/panel_gallery_magnet.jpg) no-repeat left top;
}
.gallery_letterhead{
    background:url(../image/panel_gallery_letterhead.jpg) no-repeat left top;
}
.gallery_postcard{
    background:url(../image/panel_gallery_postcard.jpg) no-repeat left top;
}
.gallery_poster{
    background:url(../image/panel_gallery_poster.jpg) no-repeat left top;
}
.gallery_folder{
    background:url(../image/panel_gallery_folder.jpg) no-repeat left top;
}
.gallery_comp{
    background:url(../image/panel_gallery_comp.jpg) no-repeat left top;
}
.gallery_urgent{
    background:url(../image/panel_gallery_urgent.jpg) no-repeat left top;
}
.product_info_design h4,
.product_info_gallery h4,
.product_info_order h4,
.product_info_guidelines h4,
.product_info_templates h4,
.product_info_express h4,
.product_info_delivery h4{
    color: #323232;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem;
    padding-bottom:2rem;
    padding-top:1rem;
}
.product_info_design a.blue_link,
.product_info_gallery a.blue_link,
.product_info_order a.blue_link,
.product_info_guidelines a.blue_link,
.product_info_templates a.blue_link,
.product_info_express a.blue_link,
.product_info_delivery a.blue_link{
    color: #2a57a7;
    text-decoration: none;
}

.product_info_design_img{
	width: 20rem;
	height: 142px;
	background: transparent url(../image/panel_design_hover.jpg) no-repeat left top;
	transition:opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition:opacity 0.5s; /* Safari and Chrome */
	-o-transition:opacity 0.5s; /* Opera */
	opacity:0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.product_info_gallery_img{
	width: 20rem;
	height: 142px;
	background: transparent url(../image/panel_gallery_hover.jpg) no-repeat left top;
	transition:opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition:opacity 0.5s; /* Safari and Chrome */
	-o-transition:opacity 0.5s; /* Opera */
	opacity:0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.product_info_order_img{
    width: 20rem;
    height: 142px;
    background: transparent url(../image/panel_order_hover.jpg) no-repeat left top;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition:opacity 0.5s; /* Safari and Chrome */
    -o-transition:opacity 0.5s; /* Opera */
    opacity:0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.product_info_guidelines_img{
    width: 165px;
    height: 142px;
    background: transparent url(../image/panel_guidelines_hover.jpg) no-repeat left top;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition:opacity 0.5s; /* Safari and Chrome */
    -o-transition:opacity 0.5s; /* Opera */
    opacity:0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.product_info_templates_img{
    width: 165px;
    height: 142px;
    background: transparent url(../image/panel_templates_hover.jpg) no-repeat left top;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition:opacity 0.5s; /* Safari and Chrome */
    -o-transition:opacity 0.5s; /* Opera */
    opacity:0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.product_info_express_img{
    width: 165px;
    height: 142px;
    background: transparent url(../image/panel_express_hover.jpg) no-repeat left top;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition:opacity 0.5s; /* Safari and Chrome */
    -o-transition:opacity 0.5s; /* Opera */
    opacity:0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.product_info_delivery_img{
    width: 165px;
    height: 142px;
    background: transparent url(../image/panel_delivery_hover.jpg) no-repeat left top;
    transition:opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition:opacity 0.5s; /* Safari and Chrome */
    -o-transition:opacity 0.5s; /* Opera */
    opacity:0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
/* pro1done */
.option_indent{
    display:block;
    padding-left:20px;
    background:url(../image/icon_orange_tick.jpg) no-repeat 0 2px;
}
.option_indent a{
    color:#323232;
    text-decoration:underline;
}
.option_indent a:hover{
    color:#29abe2;
}

a.black_link_underline{
    text-decoration:underline;
    color:#323232;
}
a.black_link_underline:hover {
    color: #29abe2;
    text-decoration: underline;
}
.bcards500{
    background:url(../image/advertisement1.png) no-repeat;
    background-size:contain;
    width:365px;
    height:173px;
    display: inline-block;
}
.bcards500 a.bcards500link{
    display:block;
    height:100%;
    width:100%;
}
.advertisement2{
    margin-top: 8rem;
    background:url(../image/advertisement2.png) no-repeat;
    background-size:contain;
    width:365px;
    height:173px;
    display: inline-block;
}
table.product_quote_holder{
    width:100%;
}
#product_div_id_2 .main_left {
    float: left;
    width: 950px;
}

#product_div_id_2 .main_left_left {
    width: 87rem;
    float: left;
    text-align: justify;
}

#product_div_id_2 .main_left_right {
    width: 36rem;
    float: left;
    padding-left: 4.7rem;
}

#product_div_id_2 .main_left_right h4 {
    font-size: 2.6rem;
    font-weight: bold;
    color: #323232;
    line-height: 3.1rem;
}

#product_div_id_2 .main_right {
    width: 290px;
    float: right;
}
#product_div_id_2 .main_left_bottom1 {
    padding: 30px 0;
    font-size: 13px;

}
#product_div_id_2 .product_options_header {
    font-size: 26px;
    font-weight: bold;
    line-height: 31px;
}

#product_div_id_2 .prooption_desc {
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    padding-bottom: 10px;
}

#product_div_id_2 .product_option_panel {
    z-index: 16;
    width: 253px;
    background: #EBEBEB  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FFFFFF, #EBEBEB 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 10px;
    padding-right: 24px;
    text-align: left;
    color: #323232;
    margin-bottom: -1px;
    position: relative;
    padding-bottom: 10px;
}
p.small {
    line-height: 13px;
    color: #7F7F7F;
    font-size: 11px;
    font-weight: normal;
}
#product_div_id_2 .product_option_panel strong {
    font-weight: bold;
}
#product_div_id_2 .product_quote_panel {
    z-index: 3;
    width: 26.3rem;
    min-height: 3.9rem;
    background: #EBEBEB  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FFFFFF, #EBEBEB 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-left: 13px;
    padding-top: 10px;
    padding-right: 13px;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
}


#product_div_id_2 .product_quote_text {
    width: 100px;
    float: left;
    color: #323232;
}

#product_div_id_2 .product_quote_link {
    width: 140px;
    float: right;
}

#product_div_id_2 .product_quote_link a {
    z-index: 11;
    width: 124px;
    min-height: 22px;
    background-color: #2a57a7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

#product_div_id_2 .product_quote_link a:hover {
    background-color: #323232;
    padding-top: 8px;
    padding-bottom: 0px;
    min-height: 22px;
    margin: 0px;
}

#product_div_id_2 .product_price_panel {
    z-index: 126;
    width: 257px;
    background: #EBEBEB  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FFFFFF, #EBEBEB 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #323232;
    margin-top: 10px;
    position: relative;
    margin-right: -10000px;
    padding: 17px 20px 25px 12px;
}
a.clear_btn {
    background: url(../image/btn_clear_cart.jpg) no-repeat;
    border: none;
    width: 77px;
    height: 30px;
    display: block;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
    margin-left: 20px;
}

a.clear_btn:hover {
    background: url(../image/btn_clear_cart_hover.jpg) no-repeat;
}

input.add_to_cart {
    background: url(../image/btn_add_to_cart.jpg) no-repeat;
    border: none;
    width: 144px;
    height: 30px;
    display: block;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
}

input.add_to_cart:hover {
    background: url(../image/btn_add_to_cart_hover.jpg) no-repeat;
    border: none;
}
/*a:link*/
/*{*/
/*    color: #0000FF;*/
/*    text-decoration: underline;*/
/*}*/
/*a:visited{*/
/*    color: #800080;*/
/*    text-decoration: underline;*/
/*}*/
#u56029-7 {
    background-color: #ebebeb;
    border-radius: 3px;
    color: #323232;
    font-size: 16px;
    line-height: 16px;
    min-height: 33px;
    padding-left: 19px;
    padding-right: 10px;
    padding-top: 3px;
    text-align: left;
    width: 506px;
    z-index: 77;
    float:left;
}
#u56029-7:hover {
    background-color: #bcbcbc;
    margin: 0;
    min-height: 33px;
    padding-bottom: 0;
    padding-top: 3px;
    width: 506px;
}

.span_looking {
    font-weight:bold;
    line-height: 42px;
    margin-left:20px
}
/* Business Card Printing*/
#product_div_id_15 .main_left,
#product_div_id_14 .main_left,
#product_div_id_13 .main_left,
#product_div_id_12 .main_left,
#product_div_id_11 .main_left,
#product_div_id_10 .main_left,
#product_div_id_9 .main_left,
#product_div_id_8 .main_left,
#product_div_id_7 .main_left,
#product_div_id_6 .main_left,
#product_div_id_4 .main_left,
#product_div_id_3 .main_left {
    float: left;
    width: 950px;
}
#product_div_id_15 .main_left_left,
#product_div_id_14 .main_left_left,
#product_div_id_13 .main_left_left,
#product_div_id_12 .main_left_left,
#product_div_id_11 .main_left_left,
#product_div_id_10 .main_left_left,
#product_div_id_9 .main_left_left,
#product_div_id_8 .main_left_left,
#product_div_id_7 .main_left_left,
#product_div_id_6 .main_left_left,
#product_div_id_4 .main_left_left,
#product_div_id_3 .main_left_left {
    width: 87rem;
    float: left;
    text-align: justify;
}
#product_div_id_15 .main_left_right,
#product_div_id_14 .main_left_right,
#product_div_id_13 .main_left_right,
#product_div_id_12 .main_left_right,
#product_div_id_11 .main_left_right,
#product_div_id_10 .main_left_right,
#product_div_id_9 .main_left_right,
#product_div_id_8 .main_left_right,
#product_div_id_7 .main_left_right,
#product_div_id_6 .main_left_right,
#product_div_id_4 .main_left_right,
#product_div_id_3 .main_left_right {
    width: 360px;
    float: left;
    padding-left: 47px;
}
#product_div_id_15 .main_left_right h4,
#product_div_id_14 .main_left_right h4,
#product_div_id_13 .main_left_right h4,
#product_div_id_12 .main_left_right h4,
#product_div_id_11 .main_left_right h4,
#product_div_id_10 .main_left_right h4,
#product_div_id_9 .main_left_right h4,
#product_div_id_8 .main_left_right h4,
#product_div_id_7 .main_left_right h4,
#product_div_id_6 .main_left_right h4,
#product_div_id_4 .main_left_right h4,
#product_div_id_3 .main_left_right h4 {
    font-size: 26px;
    line-height: 31px;
    color: #323232;
    font-weight: bold;
}
#product_div_id_15 .main_right,
#product_div_id_14 .main_right,
#product_div_id_13 .main_right,
#product_div_id_12 .main_right,
#product_div_id_11 .main_right,
#product_div_id_10 .main_right,
#product_div_id_9 .main_right,
#product_div_id_8 .main_right,
#product_div_id_7 .main_right,
#product_div_id_6 .main_right,
#product_div_id_4 .main_right,
#product_div_id_3 .main_right {
    width: 290px;
    float: right;
}
#product_div_id_15 .main_left_bottom1,
#product_div_id_14 .main_left_bottom1,
#product_div_id_13 .main_left_bottom1,
#product_div_id_12 .main_left_bottom1,
#product_div_id_11 .main_left_bottom1,
#product_div_id_10 .main_left_bottom1,
#product_div_id_9 .main_left_bottom1,
#product_div_id_8 .main_left_bottom1,
#product_div_id_7 .main_left_bottom1,
#product_div_id_6 .main_left_bottom1,
#product_div_id_4 .main_left_bottom1,
#product_div_id_3 .main_left_bottom1 {
    padding: 30px 0;
    font-size: 13px;

}
#product_div_id_15 .product_options_header,
#product_div_id_14 .product_options_header,
#product_div_id_13 .product_options_header,
#product_div_id_12 .product_options_header,
#product_div_id_11 .product_options_header,
#product_div_id_10 .product_options_header,
#product_div_id_9 .product_options_header,
#product_div_id_8 .product_options_header,
#product_div_id_7 .product_options_header,
#product_div_id_6 .product_options_header,
#product_div_id_4 .product_options_header,
#product_div_id_3 .product_options_header {
    font-size: 26px;
    font-weight: bold;
    line-height: 31px;
}
#product_div_id_15 .prooption_desc,
#product_div_id_14 .prooption_desc,
#product_div_id_13 .prooption_desc,
#product_div_id_12 .prooption_desc,
#product_div_id_11 .prooption_desc,
#product_div_id_10 .prooption_desc,
#product_div_id_9 .prooption_desc,
#product_div_id_8 .prooption_desc,
#product_div_id_7 .prooption_desc,
#product_div_id_6 .prooption_desc,
#product_div_id_4 .prooption_desc,
#product_div_id_3 .prooption_desc {
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    padding-bottom: 10px;
}
#product_div_id_15 .product_option_panel,
#product_div_id_14 .product_option_panel,
#product_div_id_13 .product_option_panel,
#product_div_id_12 .product_option_panel,
#product_div_id_11 .product_option_panel,
#product_div_id_10 .product_option_panel,
#product_div_id_9 .product_option_panel,
#product_div_id_8 .product_option_panel,
#product_div_id_7 .product_option_panel,
#product_div_id_6 .product_option_panel,
#product_div_id_4 .product_option_panel,
#product_div_id_3 .product_option_panel {
    z-index: 16;
    width: 253px;
    background: #EBEBEB  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FFFFFF, #EBEBEB 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 10px;
    padding-right: 24px;
    text-align: left;
    color: #323232;
    margin-bottom: -1px;
    position: relative;
    padding-bottom: 10px;
}
#product_div_id_15 .product_option_panel strong,
#product_div_id_14 .product_option_panel strong,
#product_div_id_13 .product_option_panel strong,
#product_div_id_12 .product_option_panel strong,
#product_div_id_11 .product_option_panel strong,
#product_div_id_10 .product_option_panel strong,
#product_div_id_9 .product_option_panel strong,
#product_div_id_8 .product_option_panel strong,
#product_div_id_7 .product_option_panel strong,
#product_div_id_6 .product_option_panel strong,
#product_div_id_4 .product_option_panel strong,
#product_div_id_3 .product_option_panel strong {
    font-weight: bold;
}
#product_div_id_15 .product_quote_panel,
#product_div_id_14 .product_quote_panel,
#product_div_id_13 .product_quote_panel,
#product_div_id_12 .product_quote_panel,
#product_div_id_11 .product_quote_panel,
#product_div_id_10 .product_quote_panel,
#product_div_id_9 .product_quote_panel,
#product_div_id_8 .product_quote_panel,
#product_div_id_7 .product_quote_panel,
#product_div_id_6 .product_quote_panel,
#product_div_id_4 .product_quote_panel,
#product_div_id_3 .product_quote_panel {
    z-index: 3;
    width: 263px;
    min-height: 39px;
    background: #EBEBEB  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FFFFFF, #EBEBEB 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-left: 13px;
    padding-top: 10px;
    padding-right: 13px;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
}
#product_div_id_15 .product_quote_text,
#product_div_id_14 .product_quote_text,
#product_div_id_13 .product_quote_text,
#product_div_id_12 .product_quote_text,
#product_div_id_11 .product_quote_text,
#product_div_id_10 .product_quote_text,
#product_div_id_9 .product_quote_text,
#product_div_id_8 .product_quote_text,
#product_div_id_7 .product_quote_text,
#product_div_id_6 .product_quote_text,
#product_div_id_4 .product_quote_text,
#product_div_id_3 .product_quote_text {
    width: 100px;
    float: left;
    color: #323232;
}
#product_div_id_15 .product_quote_link ,
#product_div_id_13 .product_quote_link ,
#product_div_id_14 .product_quote_link ,
#product_div_id_12 .product_quote_link ,
#product_div_id_11 .product_quote_link ,
#product_div_id_10 .product_quote_link ,
#product_div_id_9 .product_quote_link ,
#product_div_id_8 .product_quote_link,
#product_div_id_7 .product_quote_link,
#product_div_id_6 .product_quote_link,
#product_div_id_4 .product_quote_link,
#product_div_id_3 .product_quote_link {
    width: 140px;
    float: right;
}
#product_div_id_15 .product_quote_link a,
#product_div_id_13 .product_quote_link a,
#product_div_id_14 .product_quote_link a,
#product_div_id_12 .product_quote_link a,
#product_div_id_11 .product_quote_link a,
#product_div_id_10 .product_quote_link a,
#product_div_id_9 .product_quote_link a,
#product_div_id_8 .product_quote_link a,
#product_div_id_7 .product_quote_link a,
#product_div_id_6 .product_quote_link a,
#product_div_id_4 .product_quote_link a,
#product_div_id_3 .product_quote_link a {
    z-index: 11;
    width: 124px;
    min-height: 22px;
    background-color: #2a57a7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    text-decoration: none;
}
#product_div_id_15 .product_quote_link a:hover,
#product_div_id_14 .product_quote_link a:hover,
#product_div_id_13 .product_quote_link a:hover,
#product_div_id_12 .product_quote_link a:hover,
#product_div_id_11 .product_quote_link a:hover,
#product_div_id_10 .product_quote_link a:hover,
#product_div_id_9 .product_quote_link a:hover,
#product_div_id_8 .product_quote_link a:hover,
#product_div_id_7 .product_quote_link a:hover,
#product_div_id_6 .product_quote_link a:hover,
#product_div_id_4 .product_quote_link a:hover,
#product_div_id_3 .product_quote_link a:hover {
    background-color: #323232;
    padding-top: 8px;
    padding-bottom: 0px;
    min-height: 22px;
    margin: 0px;
}
#product_div_id_15 .product_price_panel,
#product_div_id_14 .product_price_panel,
#product_div_id_13 .product_price_panel,
#product_div_id_12 .product_price_panel,
#product_div_id_11 .product_price_panel,
#product_div_id_10 .product_price_panel,
#product_div_id_9 .product_price_panel,
#product_div_id_8 .product_price_panel,
#product_div_id_7 .product_price_panel,
#product_div_id_6 .product_price_panel,
#product_div_id_4 .product_price_panel,
#product_div_id_3 .product_price_panel {
    z-index: 126;
    width: 257px;
    background: #EBEBEB  repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -ms-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: -o-linear-gradient(top, #FFFFFF, #EBEBEB 100%);
    background: linear-gradient(to bottom, #FFFFFF, #EBEBEB 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #323232;
    margin-top: 10px;
    position: relative;
    margin-right: -10000px;
    padding: 17px 20px 25px 12px;
}

/*
notepad */
.notepad_template_list{
	height:130px;
	padding-top:40px;
}
.rootelem /* the root of the artwork tree */
{
	margin-left: auto;
	margin-right: auto;
}

.colelem /* a child element of a column */
{
	display: inline;
	float: left;
	clear: both;
}
.grpelem /* a child element of a group */
{
	display: inline;
	float: left;
}

.clearfix:after /* force a container to fit around floated items */
{
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
#pamphletu18808
{
	z-index: 405;
	width: 0.01px;
	height: 98px;
	position: relative;
}
#u18892
{
	z-index: 390;
	width: 123px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}
#u18820
{
	z-index: 408;
	width: 122px;
	position: relative;
	margin-right: -10000px;
}
#u18818popup
{
	z-index: 406;
}
.popup_anchor /* anchors an abspos popup */
{
	position: relative;
	width: 0px;
	height: 0px;
}

/* Direct Marketing */
#product_div_id_5 .container_left{
	float:left;
	width:57.5rem;
	padding-left:2rem;
	color:#7f7f7f;
	text-align:justify;
}
#product_div_id_5 .container_right{
	float:right;
	width:57.5rem;
	padding-right:2rem;
	color:#7f7f7f;
	text-align:justify;
}
#product_div_id_5 .main_container,
#product_div_id_5 .main_product_container{
	width:128rem;
	margin:0 auto;
}
#product_div_id_5 #product_div_id_5 h1{
	font-size: 30px;
	line-height:32px;
}

#product_div_id_5 h2{
    font-size: 20px;
}
#product_div_id_5 h2.large{
	font-size:30px;
	line-height:32px;
}
/*products */
#product_div_id_5 .main_left h1{
		font-size:30px !important;
		padding-bottom:5px;
}

/* folder */
.folder_templates1 h3,
.folder_templates2 h3{
	color: #323232;
    font-size: 39px;
    font-weight: bold;
	line-height:47px;
}
.folder_templates2 h3{
	padding-bottom:0;
}
.folder_templates2{
	clear:both;
	padding-top:20px;
}

.folder_templates3 h3{
	color: #323232;
    font-size: 39px;
    font-weight: bold;
	line-height:47px;
}
.folder_templates3 h3{
	padding-bottom:0;
}
.folder_templates3{
	clear:both;
	padding-top:20px;
}

.folder_templates4 h3{
	color: #323232;
    font-size: 39px;
    font-weight: bold;
	line-height:47px;
}
.folder_templates4 h3{
	padding-bottom:0;
}
.folder_templates4{
	clear:both;
	padding-top:20px;
}

.setup_banner_wrapper {
    display:block;
    border:none;
    width:542px;
    height:100px;
    background: transparent url(../image/business%20card%20-%20spot%20uv-01.jpg) no-repeat center center;
    margin-top:35px;
}
.kinds_input input{
    text-align:center;
    width:43px !important;
    min-height:23px;
}
.product_price_holder{
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    width:257px;
}
h1{
    font-size: 39px;
    line-height: 47px;
    color: #323232;
    font-weight:bold;
    padding-bottom:20px;
    text-align:left;
}
h2.large{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 39px;
    line-height: 47px;
    color: #323232;
    font-weight:bold;
    padding-bottom:20px;
}
h2{
    color: #323232;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    text-align: justify;
    padding-bottom:20px;
}
h3{
    color: #323232;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 26px;
    text-align: justify;
    padding-bottom:20px;
}
.docket_templates{
    padding-top:30px;
}
.click_a:link
{
    color: #0000FF;
    text-decoration: underline;
}

.click_a:visited
{
    color: #800080;
    text-decoration: underline;
}

.click_a:hover
{
    color: #0000FF;
    text-decoration: underline;
}

.click_a:active
{
    color: #EE0000;
    text-decoration: underline;
}

a.blue_link{
    cursor: pointer;
    color:#2a57a7;
    text-decoration:none;
}
a.blue_link:hover{
    color:#323232;
    text-decoration:none;
}
.blue_link{
    cursor: pointer;
    color:#2a57a7;
    text-decoration:none;
}
.blue_link:hover{
    color:#323232;
    text-decoration:none;
}
#u56029-6 {
    background-color: #ebebeb;
    border-radius: 3px;
    color: #323232;
    font-size: 16px;
    line-height: 16px;
    min-height: 33px;
    padding-left: 19px;
    padding-right: 10px;
    padding-top: 3px;
    text-align: left;
    width: 506px;
    z-index: 77;
    float:left;
}
#u56029-6:hover {
    background-color: #bcbcbc;
    margin: 0;
    min-height: 33px;
    padding-bottom: 0;
    padding-top: 3px;
    width: 506px;
}
.flyer_templates{
    padding-top:30px;
    height:115px;
    width:87rem;
}
.clear{
    clear:both;
}
.bcards_stock_left{
    margin-top:20px;
    text-align:left;
    height:50px
}

.bcards_stock_bkgrd
{
    width: 48px;
    min-height: 37px;
    background-color: #323232;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding-top: 11px;
    text-align: center;
    font-weight: bold;
    line-height:14px;
    display:block;
    float:left;
    margin-right:7px;
    margin-bottom:5px;
}

.bcards_stock_bkgrd span{
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
}
.black_heading{
    color:#323232;
    font-weight:bold;
}
.postcard_templates{
    padding-top:30px;
    height:115px;
}
.poster_templates {
    padding-top:30px;
    height:115px;
}
#u71355-10
{
    z-index: 89;
    width: 468px;
    min-height: 154px;
    padding-left: 40px;
    padding-top: 15px;
    padding-right: 400px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 4px;
    font-weight: bold;
    margin-top: 22px;
    position: relative;
    background: transparent url(../image/1print_adverts-01.jpg) no-repeat left top;
}

#u71355 { font-size: 34px; line-height: 34px; }
#u71355-3
{
    font-size: 23px;
    line-height: 23px;
}

#u71355-6
{
    font-size: 21px;
    color: #323232;
    line-height: 21px;
}
#u71386
{
    margin-top: 10px;
    margin-bottom: -10px;
    display: block;
}
#u71388-4 {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 22px;
}
#buttonu71387
{
    z-index: 99;
    width: 129px;
    border-color: #787878;
    background-color: #323232;
    padding-bottom: 5px;
}
#u71388-4
{
    z-index: 100;
    width: 120px;
    min-height: 23px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 6px;
    left: 4px;
}

#buttonu71387:hover #u71388-4
{
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 23px;
    width: 120px;
    margin: 6px -10000px 0px 0px;
}
#buttonu70685:hover,#buttonu71699:hover,#buttonu71387:hover
{
    background-color: #0071BC;
    width: 129px;
    min-height: 0px;
    margin: 0px;
}
a.nontext{
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}
.MenuBar .SubMenuVisible, .MenuBarVertical .SubMenuVisible, .MenuBar .SubMenu .SubMenuVisible, .popup_element.Active, span.actAsPara, .actAsDiv, a.nonblock.nontext, img.block {
    display: block;
}
.excludeFromNormalFlow {
    float: left;
}


.folder_templates1 h3,
.folder_templates2 h3{
    color: #323232;
    font-size: 39px;
    font-weight: bold;
    line-height:47px;
}
.folder_templates2 h3{
    padding-bottom:0;
}
.folder_templates2{
    clear:both;
    padding-top:20px;
}

.folder_templates3 h3{
    color: #323232;
    font-size: 39px;
    font-weight: bold;
    line-height:47px;
}
.folder_templates3 h3{
    padding-bottom:0;
}
.folder_templates3{
    clear:both;
    padding-top:20px;
}

.folder_templates4 h3{
    color: #323232;
    font-size: 39px;
    font-weight: bold;
    line-height:47px;
}
.folder_templates4 h3{
    padding-bottom:0;
}
.folder_templates4{
    clear:both;
    padding-top:20px;
}

.pf_temp{
    width: 189px;
    min-height: 261px;
    background: #FFFFFF url("/web/20180312230246im_/http://www.1print.net.au/images/u10530-grad.png") repeat-y left top;
    background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(52%, #FFFFFF));
    background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 52%);
    background: -moz-linear-gradient(left,#FFFFFF ,#FFFFFF 52%);
    background: -ms-linear-gradient(left,#FFFFFF ,#FFFFFF 52%);
    background: -o-linear-gradient(left,#FFFFFF ,#FFFFFF 52%);
    background: linear-gradient(to right,#FFFFFF ,#FFFFFF 52%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 6px;
    padding-right: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #323232;
    margin-bottom: -1px;
    position: relative;
    float:left;
    margin-right:8px;
    font-size: 12px;
    margin-bottom:8px;

}
.pf_img{
    height:132px;
    position:relative;
    z-index:5;
}
.pf_img img{
    max-height:128px;
}
.pf_temp h5{
    color: #323232;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    padding-left:5px;
    height:30px;
}
.pf_l{
    width:90px;
    float:left;
    font-weight:bold;
    text-align:left;
    padding-left:10px;
    line-height:14px;
}
.pf_r{
    width:85px;
    float:right;
    text-align:left;
    color:#7f7f7f;
    line-height:14px;
    height:52px;
}
body a.pf_dl{
    width: 158px;
    min-height: 19px;
    background: #323232 url(../image/u24849-grad.png) repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#606060),color-stop(100%, #323232));
    background: -webkit-linear-gradient(top,#606060 ,#323232 100%);
    background: -moz-linear-gradient(top,#606060 ,#323232 100%);
    background: -ms-linear-gradient(top,#606060 ,#323232 100%);
    background: -o-linear-gradient(top,#606060 ,#323232 100%);
    background: linear-gradient(to bottom,#606060 ,#323232 100%);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding-left: 8px;
    padding-top: 9px;
    padding-right: 8px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    text-decoration:none;
    font-weight: normal;
    display:inline-block;
    margin: 0 auto;
}

a.pf_dl:hover
{
    background: #0071BC url(../image/u24849-r-grad.png) repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
    background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
}


body a.c_dl{
    width: 90px;
    min-height: 19px;

    background: #29abe2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    text-decoration:none;
    font-weight: normal;
    display:inline-block;
    margin: 0 auto;
}

a.c_dl:hover
{
    background: #323232 url(../image/u24849-grad.png) repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#606060),color-stop(100%, #323232));
    background: -webkit-linear-gradient(top,#606060 ,#323232 100%);
    background: -moz-linear-gradient(top,#606060 ,#323232 100%);
    background: -ms-linear-gradient(top,#606060 ,#323232 100%);
    background: -o-linear-gradient(top,#606060 ,#323232 100%);
    background: linear-gradient(to bottom,#606060 ,#323232 100%);
}

.pf_description{
    padding-bottom:20px;
}
.pf_badge
{
    z-index: 10;
    width: 60px;
    min-height: 43px;
    background-color: #2a57a7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    padding-top: 17px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 26px;
    position:absolute;
    right:0;
    top:0;
}
.pf_badge2{
    padding-top:13px;
    padding-bottom:4px;
}

.pf_badge_glued
{
    z-index: 10;
    width: 60px;
    min-height: 43px;
    background-color: #39b54a;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    padding-top: 17px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 26px;
    position:absolute;
    right:0;
    top:0;
}
#u69312-6
{
    z-index: 1881;
    width: 300px;
    min-height: 34px;
    background: #0071BC url("/web/20180312230246im_/http://www.1print.net.au/images/u69295-grad.png") repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
    background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
    background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
    color: #FFFFFF;
    font-weight: bold;
    padding: 7px 15px 5px;
    margin: 15px 0;
}
#u69295-6:hover,#u69279-6:hover,#u69312-6:hover
{
    background-image: none;
    background-color: #323232;
    -pie-background: none;
    padding-top: 7px;
    padding-bottom: 5px;
    min-height: 34px;
    width: 300px;
    margin: 15px 0;
}

/*web design*/
.web-design #u10937popup{
    margin-left:0;
}
.web-design #u10943popup{
    margin-left:0;
}
.web-design .main_left{
    width:67%;
}
.web-design .main_left h1{
    padding-bottom:30px;
}
.web-design .main_left p{
    color:#7f7f7f;
    text-align:justify;
    line-height:20px;
}
.web-design .main_left img{
    padding-left:20px;
}
.web-design-form{

}
.web-design-form h4{
    font-size:30px;
    line-height:44px;
}

.onefifth{
    float:left;
    width:20%;
    text-align:center;
    padding-top:15px;
    color:#7f7f7f;
}
.onefifth img{
    padding-left:0 !important;
    max-width:95%;
    height:auto;
    display:block;
    margin:0 auto;
}
a.nontext.banner-text{
    font-size:26px;
    line-height:26px;
    font-weight:bold;
}
.main_container{
    width:1280px;
    margin:0 auto;
}

.login_form{
    width: 357px;
    min-height: 264px;
    background: #EBEBEB url(../image/u24604-grad.png) repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #EBEBEB));
    background: -webkit-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
    background: -moz-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
    background: -ms-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
    background: -o-linear-gradient(top,#FFFFFF ,#EBEBEB 100%);
    background: linear-gradient(to bottom,#FFFFFF ,#EBEBEB 100%);
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 18px;
    text-align: left;
    color: #323232;
    position: relative;
    float:left;
}
.login_field_holder {
    min-height:210px;
}
.login_field_holder p{
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
}
.login_field_holder h4{
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
}

.login_field_holder .field_title{
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    padding-top:5px;
    padding-bottom:5px;
}
.login_field_holder .field_title_first{
    padding-top:20px;
}
.login_field_holder .field_holder{

}
.login_field_holder .field_holder input{
    border:1px solid #ccc;
    width:95%;
    padding:5px;
    height:20px;
}
.price_desc {
    line-height: 1.7rem;
    font-size: 1.4rem;
}
span.price_msg {
    font-size: 1.1rem;
    line-height: 1.3rem;
}
span.price_msg_first {
    font-size: 14px;
    line-height: 17px;
}
#totalpriceupdate {
    padding-top: 20px;
    line-height: 17px;
    font-size: 14px;
}
#banner_totalPrice {
    display: inline-block;
}
#post_totalPrice {
    display: inline-block;
}
#brochure_totalPrice {
    display: inline-block;
}
#bcard_totalPrice {
    display: inline-block;
}
#signage_totalPrice {
    display: inline-block;
}
#flyer_totalPrice {
    display: inline-block;
}
#lw_totalPrice {
    display: inline-block;
}
#poster_totalPrice {
    display: inline-block;
}
#comps_totalPrice {
    display: inline-block;
}
.price_msg_1, .price_msg_2 {
    padding: 0;
    margin: 0;
    line-height: 17px;
}
.product_option_holder select {
    padding: 4px;
    width: 260px !important;
    margin-bottom: 5px;
}
.product_options_price_bkgrd table {
    width: 100% !important;
}
.qty_header {
    width: 6.8rem;
    font-weight: bold;
    padding-top: 1.5rem;
}
.kinds_header {
    width: 7.8rem;
    font-weight: bold;
    padding-top: 1.5rem;
}
.buy_header {
    width: 4.3rem;
    font-weight: bold;
    padding-top: 1.5rem;
}
.price_header {
    width: 8.3rem;
    font-weight: bold;
    padding-top: 1.5rem;
}
h2.folder_title {
    padding-bottom: 0;
    color: #323232;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 3.1rem;
    padding-top: 2.5rem;
}
